KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/irq/idt.o \
$(ARCHDIR)/irq/interrupt-entry.o \
$(ARCHDIR)/irq/interrupt.o \
$(ARCHDIR)/mem/paging.o \
$(ARCHDIR)/mem/heap.o \
$(ARCHDIR)/mem/liballoc.o \
$(ARCHDIR)/gui/draw.o \
$(ARCHDIR)/task/switch.o \
$(ARCHDIR)/task/task.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/time.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/fdc.o \
$(ARCHDIR)/dma.o \
